In [10]:
def simple_interest(principal,time,rate=8):
    si=(principal*rate*time)/100
    print(f'You will receive Rs {principal+si} amount at maturity after {time} years at an annual rate of interest @{rate}%')
    return si

In [11]:
simple_interest(principal=500000,time=5)

You will receive Rs 700000.0 amount at maturity after 5 years at an annual rate of interest @8%

200000.0

In [12]:
simple_interest(principal=500000,rate=7,time=5)

You will receive Rs 675000.0 amount at maturity after 5 years at an annual rate of interest @7%

175000.0

In [13]:
simple_interest(200000,2,1)

You will receive Rs 204000.0 amount at maturity after 2 years at an annual rate of interest @1%

4000.0

In [15]:
#illogcal
shopping_list = {
    "Bread": 1,
    "Milk": 2,
    "Chocolate": 1,
    "Butter": 1,
    "Coffee": 1,
}

def show_list():
    for item_name, quantity in shopping_list.items():
        print(quantity,"x", item_name)

show_list()

1 x Bread
2 x Milk
1 x Chocolate
1 x Butter
1 x Coffee

In [16]:
def show_list(dicti):
    for item_name, quantity in dicti.items():
        print(quantity,"x", item_name)

In [17]:
show_list({1:'one',2:'two'})

one x 1
two x 2

In [18]:
def list2tuple(listi):
    print("Your tuple is :",tuple(listi))

In [19]:
list2tuple([2,3,4,5,6])

Your tuple is : (2, 3, 4, 5, 6)

In [39]:
VP=[]
AVP=[]
TechLead =[]
def salary(name,salary):
    if salary>300000:
        VP.append((name,salary))
    elif (salary>200000 & salary<300000):
        AVP.append((name,salary))
    elif (salary>100001 & salary<200000):
        TechLead.append((name,salary))
    else:
        print("You are a nobody")

In [40]:
salary('Jesus',550000)

In [41]:
salary('Yeshua',100000)

In [42]:
salary('Bajrang',250000)

In [43]:
salary('Shivji',600000)

In [47]:
salary('Nobody',50000)

In [48]:
employees={'Yoseph':800000,
           'Fatima':200000,
           'Domesa':380000,
           'Huresa':100000
}

In [51]:
for k,v in employees.items():
    salary(k,v)

In [52]:
VP

[('Jesus', 550000), ('Shivji', 600000), ('Yoseph', 800000), ('Domesa', 380000)]

In [53]:
AVP

[('Yeshua', 100000),
 ('Bajrang', 250000),
 ('Nobody', 50000),
 ('Huresa', 100000)]

In [54]:
TechLead

[('Fatima', 200000)]