In [16]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [20]:
a = int(1)

In [21]:
type(a)

int

In [22]:
a

1

In [23]:
b = 2
b

2

In [27]:
b = str('two')

In [29]:
type(b)

str

In [31]:
a = [1,2,3,4,5]

In [33]:
type(a)

list

In [34]:
oxford = dict({1:"one",
              2:"two"})

In [35]:
oxford

{1: 'one', 2: 'two'}

In [40]:
list1 = []
for i in range(100):
    list1.append(i)

In [48]:
len(list1)

100

In [43]:
list2 = []
for i in range(100):
    list2.append(i*i*i)

In [45]:
#list2

In [46]:
cubes = {}
for k in range(len(list1)):
    cubes[list1[k]] = list2[k]

In [49]:
#cubes

In [51]:
cubes1 = dict({k:v for k,v in zip(list1,list2)})

In [52]:
cubes.

{0: 0,
 1: 1,
 2: 8,
 3: 27,
 4: 64,
 5: 125,
 6: 216,
 7: 343,
 8: 512,
 9: 729,
 10: 1000,
 11: 1331,
 12: 1728,
 13: 2197,
 14: 2744,
 15: 3375,
 16: 4096,
 17: 4913,
 18: 5832,
 19: 6859,
 20: 8000,
 21: 9261,
 22: 10648,
 23: 12167,
 24: 13824,
 25: 15625,
 26: 17576,
 27: 19683,
 28: 21952,
 29: 24389,
 30: 27000,
 31: 29791,
 32: 32768,
 33: 35937,
 34: 39304,
 35: 42875,
 36: 46656,
 37: 50653,
 38: 54872,
 39: 59319,
 40: 64000,
 41: 68921,
 42: 74088,
 43: 79507,
 44: 85184,
 45: 91125,
 46: 97336,
 47: 103823,
 48: 110592,
 49: 117649,
 50: 125000,
 51: 132651,
 52: 140608,
 53: 148877,
 54: 157464,
 55: 166375,
 56: 175616,
 57: 185193,
 58: 195112,
 59: 205379,
 60: 216000,
 61: 226981,
 62: 238328,
 63: 250047,
 64: 262144,
 65: 274625,
 66: 287496,
 67: 300763,
 68: 314432,
 69: 328509,
 70: 343000,
 71: 357911,
 72: 373248,
 73: 389017,
 74: 405224,
 75: 421875,
 76: 438976,
 77: 456533,
 78: 474552,
 79: 493039,
 80: 512000,
 81: 531441,
 82: 551368,
 83: 571787,
 84: 592704,
 85: 614125,
 86: 636056,
 87: 658503,
 88: 681472,
 89: 704969,
 90: 729000,
 91: 753571,
 92: 778688,
 93: 804357,
 94: 830584,
 95: 857375,
 96: 884736,
 97: 912673,
 98: 941192,
 99: 970299}

In [53]:
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2 ]

In [61]:
studetails = zip(name,roll_no)

In [62]:
print(set(studetails))

{('Shambhavi', 3), ('Manjeet', 4), ('Astha', 2), ('Nikhil', 1)}